@model Doctor

<form asp-controller="Admin" asp-action="DoctorsUpdate" method="post">

   <div class="mb-3">
        <label asp-for="Specialty" class="form-label"> Specialty</label>
        <input asp-for="Specialty" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="ClinicId" class="form-label">Clinic Id</label>
        <input asp-for="ClinicId" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update Doctor</button>
</form>