@model Patient

<p> Do you want to delete the patient with the ID @Model.PersonId </p>

<form asp-action="PatientsDelete" method="post">
    <input type="hidden" name="PersonId" asp-for="@Model.PersonId">
    <button type="submit" class="btn btn-outline-danger">Yes</button>
</form>

<form asp-action="PatientsIndex" method="get">
    <button type="submit" class="btn btn-outline-primary">No</button>
</form>